* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.navbar1 {
  background-color: #0d1117;
  position: sticky;
  top: 0;
  height: 12vh;
  border-bottom: solid 1px #97a3b454;
}
.navbar {
  background-color: #0d1117;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 6%;
   padding-right: 6%;
   padding-top: 1.8%;
  overflow: hidden;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #97a3b4;
}
.brand {
  color: rgb(201, 226, 248);
  font-size: 1.2em;
  background-image: url(download.png);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left center;
  padding-left: 32px;
}
.download {
  background-color: #0078d4;
  height: 2rem;
  width: 7rem;
  /* padding: .3em .7em; */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
.searchbar {
  width: 12em;
  height: 2.4em;
  padding-left: 3%;
  border: solid 1px #97a3b454;
  border-radius: 5px;
  background-color: #0d1117;
}
.searchbar::placeholder {
  color: #97a3b4;
}
:hover .download {
  cursor: pointer;
}
section h1 {
  text-align: center;
  font-size: 4rem;
  padding-top: 6%;
  padding-bottom: 1%;
  color: #c3d0e5;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d1117;
}
.video {
  background-image: url(hero-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 10px;
  margin: 3% 9%;
  display: flex;
  padding: 3% 7%;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
}
.download_button {
  background-color: #0078d4;
  height: 3.1rem;
  width: 15rem;
  /* padding: .3em .7em; */
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-right: 4%;
  font-weight: 600;
}
.agent_button {
  border: solid rgb(116, 108, 108) 1px;
  border-radius: 5px;
  font-size: 1.2rem;
  height: 3.1rem;
  width: 11rem;
  background-color: #25292e;
  font-weight: 600;
  color: #a7b5c9;
}
.features {
  display: flex;
  justify-content: space-around;
  padding: 3% 7%;
  color: white;
  background-color: #0d1117;
}
.cards {
  height: 23rem;
  width: 21rem;
  border: solid 1px #97a3b454;
  border-radius: 10px;
  padding: 1% 1%;
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.04);
}
.card1 {
  height: 100%;
}
p {
  margin-top: 4%;
  margin-bottom: 4%;
}
.cards h3 {
  font-size: 1.2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #c3d0e5;
}
.cards h3 {
  font-size: 1.2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #c3d0e5;
}
.cards h3 {
  font-size: 1.2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #c3d0e5;
}
.card2img {
  padding-right: 5%;
  background-image: url(an-expert-on-your-codebase-dark.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 12rem;
  width: 100%;
}
.card1img {
  background-image: url(choose-model-dark.webp);
  background-repeat: no-repeat;
  background-size: contain;
  height: 12rem;
  width: 100%;
}
.copilot {
  height: 35vh;
  padding: 2% 5%;
  background-color: #0d1117;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ai {
  color: white;
  background-color: #0d1117;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 94%;
  height: 100%;
  border-radius: 10px;
  background-image: url(copilot-free-banner-bg-dark.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.ai h1 {
  font-size: 70px;
  margin: 4%;
}
